* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#formulario span {
    margin: 3px;
}

#ticker {
    max-width: 60px;
}

#nombre {
    max-width: 160px;
}

#cantidadPapeles {
    max-width: 60px;
}

#capitalInvertido {
    max-width: 100px;
}

.activo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.activo h3 {
    margin-top: 0;
}

.activo button {
    margin-top: 5px;
}

button {
    padding: 4px 4px;
    border: 1px solid #000;
    margin-right: 20px;
}

.botones {
    margin: 12px;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 25px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 14px;
}

th,
td {
    padding: 10px 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

#graficoPie {
    height: 300px !important;
    width: 300px !important;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto; 
    grid-template-areas: "sectionTabla asideGrafico";  
    gap: 20px;
}

.sectionTabla {
    grid-area: sectionTabla;
    padding: 10px;
    border: 2px solid #5861e33c;
    border-radius: 5px;
}

.asideGrafico {
    grid-area: asideGrafico;
    padding: 10px;
    border: 2px solid #5861e33c;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}